doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    title 仕様かバグかわからんRubyの挙動を直すチャレンジ | 表参道.rb #34
    link(rel='stylesheet', href='css/reveal.min.css')
    link(rel='stylesheet', href='css/theme/white.css')
    link(rel='stylesheet', href='lib/css/zenburn.css')
    link(rel='stylesheet', href='css/font-awesome.min.css')
    link(rel='stylesheet', href='css/my.css')
    script.
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')
  body
    .reveal
      .slides
        section
          h1
            | 仕様かバグかわからん
            br
            | Rubyの挙動を直すチャレンジ
          p 2018-05-10
          p 表参道.rb #34
          p うなすけ
        section
          h2 自己紹介
          .flex-container
            .item-40
              img(src='img/icon_raw.jpg' alt='icon')
            .item-60
              ul
                li 名前: うなすけ
                li 株式会社バンク
                ul
                  li: a(href='https://bank.co.jp') https://bank.co.jp
                li エンジニア
                br
                li
                  | twitter&nbsp;
                  i.fa.fa-twitter
                  | :&nbsp;
                  a(href='https://twitter.com/yu_suke1994') @yu_suke1994
                li
                  | GitHub&nbsp;
                  i.fa.fa-github
                  | :&nbsp;
                  a(href='https://github.com/unasuke') @unasuke
        section(data-background-color="#ffcf07")
          img(src='https://cash.jp/media_kit/cash_key_01.png')
        section
          img(src='img/connpass-participants.png')
          small
            a(href='https://omotesandorb.connpass.com/event/86444/participation/#participants')
              | https://omotesandorb.connpass.com/event/86444/participation/
        section
          h2.biggest
            | AST
            br
            | 見たい
        section
          img(src='img/qiita-k0kubun-ruby-ast.png')
          small
            a(href='https://qiita.com/k0kubun/items/8bf48ae290a8b2d02729')
              | https://qiita.com/k0kubun/items/8bf48ae290a8b2d02729
        section
          img(src='img/qiita-k0kubun-ruby-ast-command.png')
        section
          img(src='img/ruby-dump-parsetree-with-e.png')
        section
          p.biggest はい
        section
          img(src='img/ruby-dump-parsetree-with-file.png')
        section
          p.biggest んっ?
        section
          h2 Is this a bug? or specification?
          img(src='img/ruby-dump-parsetree-with-file.png')
        section
          h2 Let's dive into ruby code
          img(src='https://twemoji.maxcdn.com/72x72/1f3c4.png' width='200px')
        section
          h3 カンペ
          ol
            li main.c
            li ruby_options
            li ruby_process_options
            li process_options
            li proc_option
        section
          h2 わかったひと
          img(src='https://twemoji.maxcdn.com/72x72/1f64b.png' width='200px')
        section
          h2.biggest
            | わか
            br
            | らん
        section
          img(src='img/ruby-doc-ruby-arguments.png')
          small
            a(href='https://docs.ruby-lang.org/ja/latest/doc/spec=2frubycmd.html')
              | https://docs.ruby-lang.org/ja/latest/doc/spec=2frubycmd.html
        section
          img(src='img/ruby-doc-ruby-arguments-big.png')
        section
          h2 はい
          img(src='img/ruby-dump-parsetree-with-file-success.png')
        section
          h2.biggest
            | 仕様
        section
          h2 Do you think about it?
          ol
            li specification
            li bug

    script(src='lib/js/head.min.js')
    script(src='js/reveal.min.js')
    script.
      // More info https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        history: true,
        transition: 'none',
        backgroundTransition: 'none',
        // More info https://github.com/hakimel/reveal.js#dependencies
        dependencies: [
          { src: 'plugin/markdown/marked.js' },
          { src: 'plugin/markdown/markdown.js' },
          { src: 'plugin/notes/notes.js', async: true },
          { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
        ]
      });
